#<IfModule mod_rewrite.c>
#RewriteEngine On
#RewriteBase /codeigniter
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule ^(.*)$ /cuyomateriales/index.php/$1 [L]
#</IfModule>
#<IfModule !mod_rewrite.c>
#ErrorDocument 404 /cuyomateriales/index.php
#</IfModule>
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|css|js|images|robots\.txt)
RewriteRule ^(.*)$ index.php?$1 [L]
